* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(-135deg, #667eea 0%, #764ba2 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    color: #555;
    font-size: 1.2em;
    line-height: 1.6;
}

#aboutParagraph {
    max-width: 800px;
    margin: 20px;
    align-self: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 10px;
}

.contents {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: auto;
    gap: 100px;

    background: rgba(255, 255, 255, 0.8);
    padding: 60px;
    border-radius: 20px;
    width: 98%;
    margin: 20px;
}

#features, #howItWorks {
    padding: 20px 20px 20px 40px;
}

#featuresHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 1rem;
}

#featuresHeader h2 {
    margin: 0;
}

#controls {
    display: flex;
    gap: 16px;
}

#features h2, #howItWorks h2, #features p {
    margin-bottom: 1rem;
}

#massControl, #simControl, #nBodySim, #objCreation, #collHandling, #vecVis, #orbitalTrails, #adjustableParams {
    display: none;
}

/* Button stuff */
#back, #forward {
    background-color: #333;
    border: 2px solid #333;
    border-radius: 8px;
    width: 48px;
    height: 20px;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#back {
    margin-left: auto;
}

#forward {
    margin-right: 0;
}

#back::before, #forward::before {
    border: 30px solid transparent;
    content: "";
    position: absolute;
    top: calc(50% - 30px);
}

#back::before {
    border-right-color: #333;
    left: -50px;
}

#forward::before {
    border-left-color: #333;
    right: -50px;
}

#back:hover, #forward:hover {
    background-color: #555;
    border-color: #555;
}

/* Button stuff end */

/* Features design */

#featuresContent {
    background-color: wheat;
    border-radius: 50px;
    padding: 20px;
    height: 40%;
    width: 110%;
}

/* Fetures design End */

h1, h2 { color: #333; }

h1 { align-self: center; }
